:root {
--primary-color: rgba(31, 31, 92, 0.877);
--secondary-color: rgb(9, 211, 247);
--tertiary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header / NAV BAR STYLES */
header {
    padding: 20px 35px;
    background-color: rgb(49, 47, 47);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline 3px;
    text-underline-offset: 2px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* Header / NAVBAR STYLES END*/

  /* Hero Style Start */
  .hero {
    display: flex;
    position: relative;
    background-image: url('../images/IMG_1782.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    height: 40vh;
    width: 100vw;
  }

  .subtitle {
  position: absolute;
  float: right;
  }

  /* Hero Style End*/

/* Main Styles Start */
/* this is the section identifier in the main sections */
.section-title {
  color: var(--secondary-color);
  width: 200px;
  margin: 20px 20px 0px 10px;
}

 /* this adds the black like separating the divs*/
 .flex-row {
  border-right: black 2px solid;
  text-align: right;
}

/* Main Styles End */

  /* About Me Style Start*/

  /* flex the 2 divs to be side by side */
  #about_me { 
    display: flex;
    align-content: flex-end;
    margin-top: 30px;
  }
  /* this is for the paragraph formatting */
  #about_me p {
    width: 80%;
    margin: 10px 20px 0px 30px;
    color: black;
  }

   /* About Me Style End*/

   /* Work Section Start*/

#work {
  display: flex;
  align-content: flex-end;
  margin-top: 30px;
}
.work_examples{
  display: flex;
  justify-content: space-between;
  border-color: var(--secondary-color);
  width: 60%;
  flex-wrap: wrap;
  color: black;
} 

#big {/* make each one 45%, putting 10% between each element on the page */
  margin: 10px 10px 10px 30px;
  width: 100%;
  /* rounded corners */
  border-radius: 14px;
  border: 4px solid var(--secondary-color);
  background-color: #393b4f;
  font-size: 22px;
  font-weight: bold;
  flex-grow: 4;

  /* put space between each one vertically */
  margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/hero-bg.jpeg");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

#big:hover {
  filter: blur(4px);
}

#robot {
 
  /* for files in local images folder, use url('../images/file-name.jpg') */
  margin: 10px 10px 10px 30px;
  width: 45%;
  /* rounded corners */
  flex-grow: 2;
  border-radius: 14px;
  border: 4px solid var(--secondary-color);
  background-color: #393b4f;
  font-size: 22px;
  font-weight: bold;

  /* put space between each one vertically */
  margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/Robots.jpeg");
  background-size: cover;


  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

#robot:hover{
  filter: blur(4px)
}

#Pokemon {
  margin: 10px 10px 10px 30px;
  width: 45%;
  /* rounded corners */
  flex-grow: 2;
  border-radius: 14px;
  border: 4px solid var(--secondary-color);
  background-color: #393b4f;
  font-size: 22px;
  font-weight: bold;
  background-color: white;

  /* put space between each one vertically */
  margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/1200px-International_Pokémon_logo.svg.png");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

#Pokemon:hover {
  filter: blur(4px);
}

#calorie_tracker{
  margin: 10px 10px 10px 30px;
  width: 45%;
  /* rounded corners */
  flex-grow: 2;
  border-radius: 14px;
  border: 4px solid var(--secondary-color);
  background-color: #393b4f;
  font-size: 22px;
  font-weight: bold;
  background-color: white;

  /* put space between each one vertically */
  margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("..//images/blue-gray-logo.png");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

#calorie_tracker:hover {
  filter: blur(4px);
}

#small {
  /* make each one 45%, putting 10% between each element on the page */
  margin: 10px 10px 10px 30px;
  width: 45%;
  /* rounded corners */
  flex-grow: 2;
  border-radius: 14px;
  border: 4px solid var(--secondary-color);
  background-color: #393b4f;
  font-size: 22px;
  font-weight: bold;

  /* put space between each one vertically */
  margin-bottom: 15px;

  /* for files in local images folder, use url('../images/file-name.jpg') */
  background-image: url("../images/coming_soon.jpeg");

  /* tell background to fit box no matter what */
  background-size: cover;

  /* crop it at the center */
  background-position: center;

  /* padding top and bottom 20px, 0 for left/right */
  padding: 20px 0;

  /* set minimum heigh value so there's room */
  min-height: 250px;

  /* rather than use position...use flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}



#small:hover {
  filter: blur(4px);
}
/* Work section ends */
 
/* Contact Me Section */
#contact_me {
  display: flex;
  align-content: flex-end;
  margin-top: 30px;
}

#contact_me h2 {
  margin-bottom: 30px;
}

.contact_links {
  width: 80%;
  margin-left: 5px;
  margin-top: 30px; 
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact_links a {
  padding: 30px;
  width: 100%;
}

/* contact me section ends */